* {  
    box-sizing: border-box;
    color:  rgb(73, 85, 109);
}

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}
   
header {
    text-align: center;
}

header h1 {
    background-color: rgb(73, 85, 109);
    color: whitesmoke;
    margin: 0;
    padding: 20px;
    font-size: 20px;
}

header h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

header p {
    color: rgb(192, 190, 190); 
    font-size: 15px;
    margin-bottom: 40px;
}

main {
    border-top: 3px solid rgb(73, 85, 109);
    margin: 0 20px;
}

.intro {
    border-bottom: 5px solid rgb(73, 85, 109);
    margin: 2px 20px;
}

fieldset {
    border: none;
    padding: 0;
    /* display: inline-block; */
}

legend {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
}

.contact_contents {
    display: flex;
    flex-direction: column;
    text-align: left;

}

label {
    text-align: left;
    color: rgb(109, 123, 145);
    font-size: 115%;
    font-size: 90%;
}

::placeholder {
    color: rgb(192, 190, 190);
    font-size: 80%;
}

input {
    line-height: 2.5;
    text-align: right;
    border: none;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    margin: 10px 10px 10px 0px;
}

.state_contents {
    display: flex;
    flex-direction: column;
}

select {
    height: 40px;
    width: 96%;
    border: none;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    margin: 10px 10px 10px 0px;
}

.zip_contents {
    text-align: left;
}

hr {
    border-style: solid;
    border-width: 1px;
    color: rgb(73, 85, 109);
}

.multiple_choice {
    display: flex;
}

.newsletter_cuestions {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.newsletter_cuestions label {
    margin: 10px;
}